/*文字設定*/
#text{
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  color: #666;
  margin-top: 30px;
}
/*アカウント情報中央寄せ*/
#account_p{
  text-align: center;
  color: #666;
  margin: 20px 10px ;
}
/*囲み枠線設定*/
#account{
  border: double 5px #4ec4d3;
  border-radius: 10px;
  height: 130px;
  width: 600px;
  margin: auto;
  background-color: #fffff0;
}
/*囲み枠線設定・中央寄せ*/
#book_p{
  text-align: center;
  border: double 5px #4ec4d3;
  border-radius: 10px;
  height: 250px;
  width: 1000px;
  margin: auto;
  background-color: #fffff0;
}
/*横並び・中央寄せ*/
#book{
  color:#666;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
/*本表紙画像設定*/
#image{
  margin-top: 30px;
}
/*ボタン中央寄せ*/
#button{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
/*ボタン中央寄せ*/
#boo{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}